@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* <weight>: Use a value from 100 to 900 */
/* <uniquifier>: Use a unique and descriptive class name */

.montserrat-h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3.5em;
    color: #A5B4FC;
}

/*  <weight>: Use a value from 200 to 800 */
/* <uniquifier>: Use a unique and descriptive class name */

.manrope-p {
    font-family: "Manrope", sans-serif;
    font-size: 1.1em;
}
.manrope-li {
    font-family: "Manrope", sans-serif;
    font-size: 1em;
}
.manrope-a {
    font-family: "Manrope", sans-serif;
    font-size: 1em;
    text-decoration: none;
}

.logo {
    height: 30px;
    width: 30px;
}